

body {
  font-family: helvetica;
  font-size: 15pt;
}

.header {
  background-color: #000;
  color: #FFF;

}

td {
  padding: 12px;
}

/*tr:nth-child(2):td {
  content: inherit;
  cont
}*/

tr:nth-child(even) {
  background: #9DCFDF;
}

table {
  width: 640px;
  border-spacing: 2px;
}

input {
  border-width: 0px;
}
input:nth-child(1) {
  background-color: green;
}

input:nth-child(2) {
  background-color: red;
}
